h1 {
  margin-top: 20px;
  text-align: center;
  font-size: xx-large;
}
.developers {
  max-width: 1600px;
  max-height: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
#dev2 {
  overflow: hidden;
  border-radius: 15%;
  background-color: transparent;
}
input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
img {
  height: 300px;
  width: 400px;
  pointer-events: none;
}
#dev2:hover {
  overflow: hidden;
  transition: 0.5s;
  transform: translateX(-100px) 
  translateY(70px) scale(1.95)
  /* rotateY(180deg); */
}
label img:not(:hover) {
  transition: 0.5s;
}
input[type=checkbox]:checked ~ #dev2 {
  transition: 0.5s;
  transform: rotateY(180deg); 
}
input[type=checkbox]:not(:checked) ~ #dev2 {
  transition: 0.5s;
}
/* .dev-card:not(:active) {
  transition: 0.5s;
} */
.benefits {
  max-width: 50%;
  margin: 50px auto 0;
}
li {
  text-align: center;
}
p {
  text-indent: 25px;
  text-align: left;
  margin: 20px 0;
}
.benefits {
  text-align: center;
}
ul {
  display: inline-block;
}
li {
  text-align: left;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
}
footer a:hover {
  background-color: #ddd;
}
