/***********************/
/* Global Page Styling */
/***********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

/*****************************/
/* Game Info Section Styling */
/*****************************/
#game-info {
  clear: both;
}

h1 {
  font-size: 2rem;
  padding: 1rem;
}

p {
  width: 80%;
  margin: auto;
  padding: 1rem;
}

/********************************/
/* Game Display Section Styling */
/********************************/
#game-display {
  clear: both;
}

#game-start {
  position: relative;
  top: 1.5rem;
  width: fit-content;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.2rem;
  margin: 2rem auto;
}

#game-start:hover {
  cursor: pointer;
  background-color: grey;
}

#card-container {
  width: 100%;
}

.color-card {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin: 2rem 1rem;
  border-radius: 50%;
  background-color: blue;
}

#game-fail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  width: 60%;
  margin: 0 auto;
  z-index: 10;
  background-color: grey;
}

#game-fail h2 {
  font-size: 1.4rem;
}
