body {
  font-family: 'Courier New', Courier, monospace;
}

/*************************/
/* Global Header Styling */
/*************************/

header {
  border-bottom: solid 1px black;
  padding: 15px 10px;
  overflow: hidden;
  background-color: gray;
}
header a {
  float: left;
  text-align: center;
  padding: 12px;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #030552;
  font-weight: bolder;
}
.header-right {
  float: right;
  line-height: 25px;
}
body {
  background-color: lightslategray;
}
.logo {
  font-size: 24px;
  font-weight: bolder;
}
.para {
  color: black;
}
a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

/***************************/
/* Global User Bar Styling */
/***************************/
.user-bar {
  height: 3.1rem;
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: grey;
  border: 1px solid black;
}

#login-form {
  float: left;
  margin: auto 2rem;
  font-size: 1.2rem;
}

#login-form label {
  color: yellow;
}

#login-form input {
  padding: 0.2rem;
}

#login-form button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #030552;
  background-color: grey;
  border: none;
}

#login-form button:hover {
  cursor: pointer;
  color: black;
  background-color: #ddd;
  border-radius: 5px;
}

#logout-form {
  float: left;
  margin: auto 2rem;
  font-size: 1.2rem;
}

#logout-form p {
  display: inline;
  color: yellow;
}

#logged-in-user {
  color: black;
}

#logout-form button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #030552;
  background-color: grey;
  border: none;
}

#logout-form button:hover {
  cursor: pointer;
  color: black;
  background-color: #ddd;
  border-radius: 5px;
}

#game-btn {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  margin: auto 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #030552;
  font-weight: bold;
}

#game-btn:hover {
  cursor: pointer;
  color: black;
  background-color: #ddd;
  border-radius: 5px;
}

#user-score {
  float: right;
  margin: 1rem 2rem;
  font-size: 1.2rem;
  color: yellow;
}

#running-score {
  color: black;
}

/*************************/
/* Global Footer Styling */
/*************************/
footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: gray;
  text-align: center;
  border-top: 1px #000 solid;
  font-size: 18px;
}
footer a {
  padding: 5px;
  font-size: 20px;
}

/*********************************/
/* Global "hidden" Class Styling */
/* THIS STAYS AS LAST SELECTOR!! */
/*********************************/
.hidden {
  display: none;
}
